* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
}

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
    background-color: #39c;
}

.main_wrapper {
    width: 1000px;
    height: auto;
    margin: auto;
}

.header_wrapper {
    width: 1000px;
    height: 100px;
    background-color: #ffffff;
}

#navbar {
    width: 1000px;
    height: 50px;
    background: #999999;
    color: #ffffff;
}

#menu {
    padding: 0;
    line-height: 36px;
    margin-top: 5px;
    float: left;
}

#menu li {
    list-style: none;
    display: inline;
}

#menu a {
    color: #ffffff;
    text-decoration: none;
    font-size: 20px;
    margin: 5px;
    padding: 10px;
}

#menu a:hover {
    text-decoration: underline;
    color: #333333;
    font-weight: bolder;
}

#form {
    float: right;
    line-height: 50px;
    padding-right: 5px;
}

.content_wrapper {
    width: 1000px;
    height: auto;
    background: #f96;
}

#right_content {
    width: 750px;
    background: #fcc;
    float: left;
}

#left_sidebar {
    width: 250px;
    background: #000000;
    float: right;
}

.footer {
    width: 1000px;
    height: 100px;
    background: #999999;
    color: #ffffff;
    clear: both;
}

.footer h2 {
    color: #000000;
    padding-top: 25px;
    text-align: center;
}
/* ---- */
#sidebar_title {
    background: #ffffff;
    color: #000000;
    padding: 10px;
    font-size: 22px;
    font-family: 'Palatino Linotype', 'Book Antiqua', Palatino, serif;
}

#cats {
    text-align: center;
    padding: 10px;
}

#cats li {
    list-style: none;
    margin: 10px;
}

#cats a {
    color: #ffffff;
    font-size: 20px;
    text-decoration: none;
    margin: 5px;
}

#cats img {
    border: 2px solid #ffffff;
}

#cats a:hover {
    color: #f93;
    text-decoration: underline;
    font-weight: bolder;
}

/* right content */
#headline {
    background: #000000;
    color: #ffffff;
    height: 35px;
    width: 750px;
    padding: 10px;
}

#headline_content {
    float: right;
}

#product_box {
    width: 780px;
    padding: 10px;
    margin: 10px 0 10px 30px;
    text-align: center;
}

#single_product {
    float: left; 
    padding: 10px; 
    margin-left: 30px;
}

#single_product img {
    border: 2px solid #333333;
}

.empty-error {
    color: red;
    text-align: center;
    text-transform: capitalize;
}

/* cart */
#right_content .cart {
    font-size: 18px;
    color: yellow;
    text-decoration: none;
}

#right_content .title h2 {
    background-color: #000;
    color:#FC9;
    padding:20px;
    text-align:center;
    border-top:2px solid #fff;
}

.content_wrapper .products_box .table_format {
    width: 740px;
    margin: 0 auto;
    background-color: #0099cc;
}

.content_wrapper .products_box .table_format tr {
    text-align: center;
}